<h1>Jobs</h1>
<div class="container-fluid">
	<div>
		<div class="panel-body">
			<% @jobs.each do |job| %>
				<div class="panel-heading">
					<h2><%= link_to job.title, job.url %></h2>
				</div>	
					<p><%= job.company %></p>
			<% end %>
		</div>
	</div>
</div>	
<div class="panel-footer">
	<p><%= link_to "Add a job", new_job_path %></p>
</div>

<p><%= paginate @jobs %></p>
